body{
	background: #55B8D6;
}
.piano li.tuts-putih{
	height:150px;
	width:50px;
	background: #fff;
	border:1px solid #ccc;
	margin-left: -4px;
}
.piano li.tuts-hitam{
	height:110px;
	width:25px;
	background: #000;
	color:#fff;
	border:1px solid #ccc;
	margin-left:-20px;
	position:absolute;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.kuning{
	background: yellow !important;
}
.home{
	display:none;
}
.loader{
	position:fixed;
	top:50%;
	left:40%;
	width:15%;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}